  *{
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  #svg {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .wrap {
    margin-top: auto;
    margin-bottom: auto;
  }

  #anim-type {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }

  nav {
    position: absolute;
    background-color: white;
    z-index: 1;
    border-radius: 30px;
    top: -80px;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 90px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
  }
  nav a {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    color: #545257;
    font-weight: 400;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    height: 30px;
  }
  nav a:hover {
    color: black;
  }

  nav:hover {
    transform: translateY(50px);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #openMenu, #Menu{
    display: none;
  }

  @media screen and (max-width: 1100px) {
    nav {
      display: none;
    }

    #Menu {
      position: absolute;
      display: block;
      background-color: white;
      top: -30px;
      left: -30px;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 20px;
      padding-bottom: 20px;
      transform: translateX(-370px);
      transition: transform 250ms ease-in-out;
      z-index: 1;
      border-radius: 30px;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .MenuInner li {
      list-style: none;
      padding: 10px;
      cursor: pointer;
    }

    .MenuInner li a {
      cursor: pointer;
      text-decoration: none;
      font-size: 22px;
      font-weight: 600;
      font-family: "OpenSans", Arial, Helvetica, sans-serif;
      color: #545257;
    }

    .MenuInner li a:hover {
     color: black;
    }

    input[type="checkbox"]:checked ~ #Menu { transform: translateX(0); }

    input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
    }

    .MenuIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 18px;
      left: 18px;
      height: 45px;
      width: 45px;
      z-index: 2;
      background-color: white;
      border-radius: 200px;
      padding: 14px 12px 10px 12px;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    }

    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #cd9a8a;
      border-radius: 15px;
    }

    .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 4px;
    }

    .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
    }

    .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 4px;
    }

    input[type=checkbox]:checked ~ .MenuIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
    }

    input[type=checkbox]:checked ~ .MenuIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 11px;
      background-color: #545257;
    }

    input[type=checkbox]:checked ~ .MenuIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -11px;
      background-color: #545257;
    }

    input[type=checkbox]:checked ~ .MenuIconToggle {
      background-color: none;
      box-shadow: none;
    }
  }

  h1{
    font-family: "Unna", Times, serif;
    font-size: 30px;
    letter-spacing: .75px;
    color: #545257;
  }

  h1.welcome {
    font-size: 3.9vh;
    padding-top: 11vh;
    margin-left: 5px;
    text-align: center;
  }

  @media screen and (max-width: 1100px) {
    h1.welcome {
      padding-top: 9vh;
    }
  }

  h2.welcome {
    font-size: 2.6vh;
    text-align: center;
  }

  h2{
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    color: #545257;
    font-weight: 400;
    font-size: 20px;
  }

  h2 a{
    text-decoration: none;
    color: #545257;
    padding-top: 10px;
  }

  h2 a:hover{
    text-decoration: underline;
  }

  button{
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    color: #cd9a8a;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    border: none;
    width: 170px;
    padding: 8px 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }

  button:hover{
    color: #545257;
    cursor: pointer;
  }


  #mainbuttons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    display: inline-block;
  }

  #mobilenav {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 170px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
  }

  p{
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #545257;
  }
  p a{
    color: inherit;
    font-weight: 600;
    text-decoration: none;
  }

  p a:hover{
    text-decoration: underline;
  }

  #desktop-whitebox{
    width: 360px;
  }

  #laptop-whitebox{
    width: 280px;
  }

  #owl-whitebox{
    width: 290px;
  }

  #dog-whitebox{
    width: 360px;
  }

  #lanyard-whitebox{
    width: 360px;
  }

  #poster-whitebox{
    width: 300px;
  }

  .whitebox{
    display:none;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
